@charset "UTF-8";

/****************************************************\
	COEPIO (S)CSS FRAMEWORK
	By Angus Russell
	Based on the work of many others, including:
		- Andy Clarke (320 and up)
		- Harry Roberts (Inuit.css)
\****************************************************/

// === KICK THINGS OFF === //
// Normalize
@import "framework/normalize";
//Compass
@import "compass";

// === VARIABLES & MIXINS === //
@import "skin/variables";
@import "framework/mixins"; // Framework mixins
@import "skin/mixins"; // Project mixins

// === COEPIO FRAMEWORK === //
@import "framework/objects/headings";
@import "framework/objects/elements";
@import "framework/objects/forms";
@import "framework/objects/media";
@import "framework/objects/nav";
@import "framework/objects/grid";
@import "framework/objects/facebook";
@import "framework/helpers"; // Clearfix, image replacement etc

// === SKIN === //
// Base - basic setup //
@import "skin/base/base";
@import "skin/base/vertical-rhythm";
@import "skin/base/layout";

// Things - html elements, reusable classes //
@import "skin/things/typography";
@import "skin/things/links";
@import "skin/things/forms";
@import "skin/things/tables";
@import "skin/things/code"; // <code>, <pre>
@import "skin/things/buttons";
@import "skin/things/elements"; // <img>, <hr>, etc
@import "skin/things/objects"; // Reusable skin classes

// Parts - sections that all/most pages share //
@import "skin/parts/page"; // Stuff every page has
@import "skin/parts/header";
@import "skin/parts/footer";
@import "skin/parts/sidebar";
	// Navigation
	@import "skin/parts/navigation/main-menu";
	// @import "skin/navigation/top-menu";
	// @import "skin/navigation/social-media-menu";
	// @import "skin/navigation/submenu";
	// @import "skin/navigation/pagination";

// Views - specific styles for different views (home, portfolio, blog etc) //
@import "skin/views/home";
@import "skin/views/posts";

// Third Party //
// @import "third-party/font-awesome/font-awesome";

// Context //
@import "skin/context/ie"; // Here if you need it, but use .lt-ie9 & {} inside a rul for little things
// Print
@media print {
	@import "framework/print";
	@import "skin/context/print";
}