/**
 * Even if you don't think your site
 * will include any code blocks, including this
 * file makes debugging slightly prettier. 
 */
pre {
	border: 1px solid $border-colour;
	overflow: auto;
	padding: 0 2em;
	line-height: 2em;
	font-size: 12px;
	@include background-image(linear-gradient($lightest-grey 50%, transparent 50%, transparent));
	@include background-size(100% 4em);
	font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
	position: relative;
	left: 0;
	text-transform: none;
	code {
		background-color: transparent;
	}
}
code {
	font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
	background-color: lightyellow; // Thanks CSS Tricks :)
	color: #666;
}