/**
 * CONTENTS
 **********************
 * WELL
 * SEARCH FORM
 * ACCORDION/TOGGLER
 * READ MORE TOGGLER
 */

// Well
.well {
	background: $lightest-grey;
	//border: 1px solid $light-grey;
}

// Search form
.search-form {
	background: #FFF;
	border: 1px solid $grey;
	position: relative;
	.s {
		background: transparent;
		border: none;
		padding-right: 35px;
		max-width: 100%;
	}
	.search-submit {
		position: absolute;
		width: 30px;
		right: -1px;
		top: -1px;
		bottom: -1px;
		background: $brand-colour;
		border: none;
		text-align: center;
		color: #FFF;
		@include font-size(19);
		vertical-align: middle;
		@include transition(.2s);
		padding: 0;
		i {
			position: relative;
			top: -1px;
		}
		&:hover {
			background: $dark-grey;
		}
	}
}

// Accordion/toggler
dl.toggler {
	border-bottom: 1px solid $border-colour;
	padding: 0;
	dt {
		display: block;
		border: 1px solid $border-colour;
		border-bottom: none;
		margin: 0;
		position: relative;
		h3 {
			margin: 0;
			@include font-size(16);
		}
		a {
			display: block;
			padding: $base-line-height * 0.33 + px $base-line-height * 0.75 + px;
		}
		i {
			font-size: 0.8em;
			margin-right: 7px;
		}
	}
	dd {
		display: none;
		border: 1px solid $border-colour;
		padding: $base-line-height * 0.75 + px;
		background: $lightest-grey;
		margin-bottom: 5px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
		:last-child {
			margin-bottom: 0;
			:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Read more toggler 
.toggle-this {
	display: none;
}

.arrow-list {
	margin-left: 5px;
	list-style: none;
	li {
		padding-left: 15px;
		margin: 2px 0;
		position: relative;
		&:before {
			content: "";
			display: inline-block;
			border: 4px solid transparent;
			border-left-color: $dark-grey;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}