.page-title-layer {
	// suck it up to halfway up the menu {
	margin-top: -24px;
	padding-top: 24px;
	position: relative;
	z-index: 1;
	//}

	background: $light-grey;
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid darken($light-grey, 8%);
	.page-width {
		padding: $base-line-height * 0.4 + px 0 $base-line-height + px 0;
		@extend .cf;
	}
	:last-child {
		margin-bottom: 0;
	}
	// Different bg images
	@include at-least($bp-m) {
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $light-grey;
		.page-width {
			min-height: 160px;
		}
		&.default {
			background-image: url(../images/page-header-bg-default.jpg);
		}
		&.home-feature-layer {
			background-image: url(../images/home-page-banner.jpg);
		}
		&.tdd {
			background-image: url(../images/tdd-banner-2.jpg);
		}
		&.projects {
			background-image: url(../images/tdd-banner.jpg);
		}
		&.news {
			background-image: url(../images/news-banner.jpg);
		}
		&.qs {
			background-image: url(../images/qs-banner.jpg);
		}
		&.dep {
			background-image: url(../images/dep-banner.jpg);
		}
		&.about-us {
			background-image: url(../images/about-banner.jpg);
		}
		&.team {
			background-image: url(../images/team-banner.jpg);
		}
		&.contact {
			background-image: url(../images/contact-banner.jpg);
		}
	}
}
.page-title,
.post-title {
	margin-bottom: 0;
	font-weight: bold;
	color: $darkest-grey;
	@include at-least($bp-m) {
		padding: 4px 15px;
		background: $light-grey;
		background: rgba(255,255,255,.65);
		display: inline-block;
		float: left;
	}
}
.sub-title {
	margin-bottom: 0;
	color: $brand-colour;
	font-family: $alt-font;
	@include font-size(20);
	@include at-least($bp-m) {
		padding: 4px 15px;
		background: $light-grey;
		background: rgba(255,255,255,.65);
		display: inline-block;
		float: left;
		clear: left;
		margin-top: 4px;
	}
}
#breadcrumbs {
	padding-left: 15px;
	color: $light-grey;
	display: none;
	@include font-size(13);
	margin: 0 0 8px;
	text-shadow: 0 0 4px rgba(0,0,0,0.9);
	@include at-least($bp-m) {
		display: block;
	}
	a {
		color: #FFF;
		font-weight: bold;
		&:hover {
			color: $brand-colour;
		}
	}
}