.sidebar {

}
.widget {
	background: $lightest-grey;
}
$sidebar-heading-font-size: 15;
$sidebar-heading-v-padding: 5;
// Calculate sidebar height: font-size * line-height + total padding - 0.6 (0.6 ensures rounding down);
$sidebar-heading-height: $sidebar-heading-font-size * $relative-line-height + ($sidebar-heading-v-padding * 2) - 0.6;
.widget-title {
	background: $darkest-grey;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 0;
		width: 0;
		background: $brand-colour;
		border-bottom: $sidebar-heading-height / 2 + px solid $darkest-grey;
		border-left: $sidebar-heading-height / 2 + px solid $darkest-grey;
		border-top: $sidebar-heading-height / 2 + px solid transparent;
		border-right: $sidebar-heading-height / 2 + px solid transparent;
	}
	#{headings()} {
		@include font-size($sidebar-heading-font-size);
		font-family: $base-font;
		font-weight: bold;
		padding: $sidebar-heading-v-padding + px $sidebar-heading-height + 5 + px $sidebar-heading-v-padding + px 10px;
		color: #FFF;
		margin: 0;
		text-transform: none;
	}
}
.widget-content {
	padding: 15px 10px;
	border: 1px solid $border-colour;
	border-top: none;
	#{headings()} {
		text-transform: none;
		font-weight: bold;
	}
	> :last-child,
	.textwidget > :last-child {
		margin-bottom: 0;
	}
	&.nopadding {
		padding: 0;
	}
	ul {
		padding-left: 0;
		list-style: none;
	}
}
.widget.nopadding {
	.widget-content {
		padding: 0;
	}
}

/* === INDIVIDUAL WIDGETS === */
.category-posts {
	li {
		margin-bottom: 5px;
	}
	.posted-in {
		font-size: 0.9em;
		margin-top: -4px;
		display: block;
		a {
			text-transform: uppercase;
			font-weight: bold;
			color: $dark-grey;
			font-size: 0.9em;
			&:hover {
				color: $brand-colour;
			}
		}
	}
}
.image-widget {
	a, img {
		display: block;
		line-height: 1;
	}
	a:hover {
		opacity: 0.8;
	}
}
.recent-projects-widget {
	.widget-content {
		padding: 4px 0;
		border: none;
		background: #FFF;
	}
	img {
		vertical-align: top;
	}
}