.projects {

	.project {
	}
	
	img {
		border: 1px solid $light-grey;
	}
	.h4 {
		margin-bottom: 0.1em !important;
		a {
			color: $darkest-grey;
			font-weight: bold;
			text-transform: none;
			&:hover {
				color: $brand-colour;
			}
		}
	}
}
