/* My version of the media object. This may change over time. */
.media{ 
    display:block;
    @extend .cf;
}
.media-img {
    float: left;
    margin-right: $gutter-width;
}
.media-body {
    overflow: hidden;
}
.media-body,
.media-body > :last-child {
    margin-bottom: 0;
}