/**
 * Tables. Edit as desired.
 */
 
table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	th,
	td {
		padding: 8px;
		vertical-align: top;
		border-top: 1px solid $lightest-grey;
		text-align: left;
	}

	th {
		font-weight: bold;
		color: $heading-colour;
	}

	thead th {
		vertical-align: bottom;
	}

	.row-title {
		color: $darkest-grey;
		font-weight: bold;
	}
}