/**
 * Nothing too special here, just some
 * standard defaults. You probably won't need
 * to change this up too much, but who knows...
 */

html{
    font-size: 62.5%;
    overflow-y:scroll;
    min-height:100%;
}
body {
	font-family: $base-font;
	font-size: $base-font-size + px;
	line-height: $relative-line-height;
	color: $text-colour;
	// -webkit-font-smoothing: antialiased;
}
.site-wrap {
	overflow: hidden; // Stop horizontal scrolling
}